.detail{
position: absolute;
    float: left;
 padding: 10PX;
   margin: 1% 0px 0px 4%;
   text-align: start;
max-width: 20%;
min-width: 20%;
color:rgb(48, 44, 44);
border: 1px solid rgba(255, 255, 255, .25);
border-radius: 20px;
background-color: rgba(255, 255, 255, 0.45);
box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

backdrop-filter: blur(15px);
}
.detail h2{
    text-align: center;
}
@media (max-width: 1700px) {
  .detail{
    position: absolute;
    bottom: 30%;
  max-width: 40%;
  min-width: 40%;
  }
    }
    @media (max-width: 1000px) {
      .detail{
        padding: 0;
        margin: 0 auto;
        max-width: 80vh;
        height: 60%;
      width: 80%;
        top: 20%;
      left: 10%;
      text-align: start;
      
      justify-content: center;
      align-items: center;
      }
      .detail h2{
        margin-bottom: 70px;
      }
      .detail h3{
        padding-left: 60px;
      }
        }