.detail{
       position: relative;
        float: right;
     padding: 10PX;
       margin: 30px 80px 0px 0px;
       text-align: start;
    max-width: 35%;
    min-width: 35%;
    list-style: none;
       color:rgb(48, 44, 44);
     border: 1px solid rgba(255, 255, 255, .25);
     border-radius: 20px;
     background-color: rgba(255, 255, 255, 0.45);
     box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
   
     backdrop-filter: blur(15px);
    }
    .detail li{
      list-style: none;
    }
    .detail h2{
      text-align: center;
    }

    @media (max-width: 1700px) {
      .detail{
        
      max-width: 0px;
      height: 0px;
      padding: 0px;
      border: none;
      font-size: 0px;
      }
        }